<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

    <title>clothing</title>
</head>

<body background="pic.jpg">

    <div class="container d-flex main-content">
        <div class="row">
            <div class="col-12 text-center h1 mt-4">

	    <h1 style="color:white;">Clothing Recommender System</h1>
            </div>

            <div class="col-12 d-flex buttons-group">
                <button type="button" onclick="location.href = 'dress.html'" class="btn btn-outline-primary">Discover</button>
                <!--<button type="button" onclick="location.href = 'about.html'" class="btn btn-outline-success">ABOUT</button>-->
            </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>