.main-content {
    height: 100vh;
    justify-content: center;
    align-items: center;
    
    
}

.buttons-group {
    width: 100%;
    justify-content: center;
    
}

button{
    width: 10rem;
    font-weight: 600 !important;
    margin: 1rem;

}